/* styles.css */
body {
  background-color: rgb(213, 171, 255);
}

#container {
  /* background-color: white; */
}

#memo-container {
  margin: 10px;
  background-color: white;
  width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  padding: 10px;
}

.memo-card {
  border: 2px solid #ccc;
  padding: 0.75rem;
  border-radius: 4px;
}
